.title {
    color: #745c97;
    text-align: center;
    margin: 0;
}

.welcome {
    padding: 20px;
}

.welcome-img {
    display: flex;
    justify-content: center;
    /* Set background image */
    background-image: url('/public/img/Welcome.png');
    /* Set background size to cover the entire element */
    background-size: cover;
    /* Set background position to center */
    background-position: center;
    /* Set height to ensure background image is visible */
    height: 300px;
    /* Adjust this value as needed */
    max-width: 100%;
    border: 2px solid #000;
    border-radius: 8px;
}

.cta-button:hover {
    background-color: #5b4878;
}

.features {
    display: flex;
    flex-direction: row;
}

.special-offers {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.feature {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}

.offer {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}

.feature img {
    max-width: 50%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

.feature h3 {
    margin-top: 0;
    color: #333;
}

.offer h3 {
    margin-top: 0;
    color: #333;
}

.feature p {
    color: #666;
}

.offer p {
    color: #666;
}

.contact {
    background-color: #f7f7f7;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.contact h2 {
    color: #745c97;
    margin-top: 0;
}

.contact p {
    color: #666666;
}

.contact-info {
    margin-top: 10px;
}

.contact-info p {
    margin: 5px 0;
}

/* Testimonials */

.testimonial-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 20px;
}

.testimonial-card {
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    width: 300px;
    /* Adjust as needed */
}

.testimonial-content {
    text-align: center;
}

.testimonial-text {
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
}

.testimonial-author {
    font-size: 16px;
    color: #666;
    font-style: italic;
}

.visit-us-form-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    padding-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #dcb3b3;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.visit-us-form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 15px;
}

label {
    font-weight: bold;
}

input[type='text'],
input[type='email'],
input[type='tel'],
input[type='date'],
textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color:#F5B0CB;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}


@media (max-width: 1027px) {
    .welcome-img {
        height: 150px;
        max-width: 100%;

    }
}

@media (max-width: 768px) {
    .welcome-img {
        /* Add your styles here for screens with a minimum width of 768px */
        /* For example, you can adjust the height or padding */
        height: 150px;
        max-width: 90%;
        /* Adjust as needed */
        padding-right: 50px;
        margin-right: 50px;
        /* Adjust as needed */
    }

    .nav-menu {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex: none;
    }
}