/* navbar.css */

.navbar {
    padding: 20px;
    display: flex;
    justify-content: space-evenly; 
    align-items: center; 
    background-color: #f9e7d9;
}

.navbar a {
    text-decoration: none;
    color:#061826; 
    font-weight: bold;
    transition: color 0.3s ease;
}

.navbar a:hover {
    color:#384651;
}




